/* ------------
    fonts
--------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

/*-----------------
    common styles 
-------------------*/
* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.container {
    background-color: #FFFFFF;
    width: 65%;
    padding: 30px;
    border-radius: 5px;
    margin-top: 25px;
}

.section-title {
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    margin-bottom: 30px;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}

/* -----------------
    header
------------------*/
header {
    background-color: #562EFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 69%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; 
}

.header-container img {
    height: 51px;
}

.nav-title {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    gap: 15px;
    text-decoration: none;
}

.nav-item {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    gap: 36px;
}

.nav-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-item button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}




/* ------------------------
    top players style
--------------------------- */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
}

.player {
    display: flex;
    align-items: center;
    gap: 16px;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    font-size: 18px;
    font-weight: 500;
}

/* ----------------------
    top blogs styles 
----------------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 25px;
}

.blog {
    display: flex;
    gap: 16px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
    font-weight: 500;
}

.blog-author {
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    margin: 6px 0;
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
}

/* -----------------
    courses styles 
----------------------*/
.latest-courses .section-title {
    margin-bottom: 14px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.course {
    padding: 16px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.course .course-banner img {
    width: 93%;
}

.course-title {
    margin-top: 15px;
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
}

.course-author {
    margin-top: 6px;
    color: #ED6B4F;
    font-size: 15px;
    font-weight: 400;
}

.course-info {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    align-items: center;
    justify-items: center;
    margin-top: 15px;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.3;
}

.course-info .rating-rate {
    color: #A2A2A2;
    font-size: 15px;
    font-weight: 400;
}

.course-duration {
    color: #FF4A60;
    font-size: 14px;
    font-weight: 600;
    background-color: #FFE4E8;
    padding: 7px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.fa-clock {
    font-size: 16px;
}

.hide {
    display: none;
}

/* --------------------
    media queries 
--------------------- */

/* nobile devices */
@media screen and (max-width:576px) {

    main {
        text-align: center;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;
    }
}

/* tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        flex-direction: column;
    }

}